# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Operation-Terminator.iml
# Datasource local storage ignored files
/../../../../../../:\dev\Operation-Terminator\.idea\.idea.Operation-Terminator.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
